[Unit]
Description = MyJavaService
After network.target = MyJavaService.service


#change this to your workspace
WorkingDirectory=/opt/apps/

[Service]
Type = forking
ExecStart = /opt/apps/MyJavaService.sh start
ExecStop = /opt/apps/MyJavaService.sh stop
ExecReload = /opt/apps/MyJavaService.sh restart

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
